In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
users = pd.read_csv("BX-Users.csv", sep = ';' , encoding ='Latin-1', error_bad_lines =False)

In [3]:
books = pd.read_csv("BX-Books.csv", sep = ';' , encoding ='Latin-1', error_bad_lines =False)

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\Users\Sritiman Adak\python\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
ratings = pd.read_csv("BX-Book-Ratings.csv", sep = ';' , encoding ='Latin-1', error_bad_lines =False)

In [6]:
print(users.shape)
print(books.shape)
print(ratings.shape)

(278858, 3)
(271360, 8)
(1149780, 3)

In [7]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [8]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [11]:
ratings.rename(columns ={'User-ID':'user_id','Book-Rating':'score'}, inplace =True)

In [18]:
x = ratings['user_id'].value_counts()>200

In [19]:
padhaku =x[x].index.tolist()

In [20]:
padhaku

[11676,
 198711,
 153662,
 98391,
 35859,
 212898,
 278418,
 76352,
 110973,
 235105,
 230522,
 16795,
 234623,
 36836,
 52584,
 245963,
 204864,
 55492,
 185233,
 171118,
 102967,
 232131,
 227447,
 129358,
 98741,
 60244,
 190925,
 135149,
 231210,
 189835,
 189334,
 69697,
 78783,
 177458,
 172742,
 73394,
 242824,
 269566,
 213350,
 23768,
 238781,
 175003,
 226545,
 36606,
 182085,
 11601,
 148744,
 123981,
 26544,
 43246,
 200674,
 23902,
 274308,
 257204,
 95359,
 166123,
 127233,
 127429,
 162639,
 275970,
 87141,
 172030,
 12538,
 184299,
 238120,
 130474,
 76626,
 236283,
 115120,
 266226,
 93047,
 142524,
 87555,
 254465,
 245827,
 166596,
 51883,
 196077,
 35050,
 265115,
 110029,
 56959,
 228998,
 31315,
 246655,
 271284,
 225087,
 131402,
 56447,
 88733,
 175886,
 40943,
 174304,
 56399,
 251613,
 234828,
 16634,
 158295,
 52614,
 156150,
 248718,
 31556,
 225810,
 35857,
 63714,
 107784,
 167800,
 114414,
 147847,
 274061,
 76499,
 113519,
 182987,
 7346,
 224349,
 100906,
 224764,
 129074,
 252695,
 197659,
 211426,
 265313,
 187145,
 56856,
 127200,
 235842,
 131046,
 170229,
 157273,
 125692,
 78834,
 200226,
 124942,
 3363,
 6251,
 240144,
 195694,
 116599,
 101209,
 228764,
 146113,
 261829,
 217375,
 170518,
 264321,
 193560,
 203968,
 159033,
 69355,
 143253,
 251422,
 173632,
 262399,
 56271,
 6575,
 87746,
 225763,
 242006,
 104636,
 15408,
 21014,
 143175,
 32195,
 174791,
 225986,
 185384,
 128835,
 26535,
 81492,
 114368,
 258185,
 69042,
 249894,
 127359,
 77940,
 138844,
 32773,
 94347,
 37950,
 25981,
 219546,
 205735,
 258152,
 261105,
 49109,
 38023,
 13552,
 181176,
 243077,
 78973,
 28204,
 150124,
 180651,
 149908,
 33974,
 262998,
 210035,
 133747,
 106225,
 206534,
 55548,
 201526,
 30276,
 43842,
 68555,
 110912,
 46398,
 94923,
 268330,
 270713,
 101851,
 194669,
 190708,
 187517,
 129716,
 53174,
 254899,
 61619,
 107021,
 256407,
 69078,
 144531,
 29259,
 107951,
 186570,
 60277,
 69971,
 233911,
 31826,
 3757,
 112001,
 135045,
 72992,
 112026,
 173415,
 265889,
 206979,
 135265,
 16966,
 82893,
 231857,
 59172,
 24921,
 114988,
 156269,
 255489,
 150968,
 212923,
 125774,
 105979,
 130571,
 86243,
 167471,
 115490,
 20115,
 229551,
 210485,
 14521,
 51450,
 39646,
 30711,
 52853,
 160819,
 125039,
 227520,
 256167,
 258534,
 93085,
 126736,
 274004,
 114868,
 136205,
 112881,
 145619,
 203240,
 23872,
 138441,
 113983,
 49144,
 140000,
 89602,
 145451,
 120548,
 236757,
 242106,
 28591,
 225232,
 2276,
 29855,
 179978,
 277427,
 54218,
 221445,
 209516,
 38781,
 217121,
 122429,
 114865,
 32440,
 246617,
 235392,
 30533,
 247447,
 236172,
 201290,
 75860,
 91931,
 143415,
 183995,
 37712,
 145449,
 79186,
 69232,
 146348,
 251394,
 95932,
 177072,
 13273,
 48494,
 94853,
 194600,
 269728,
 113270,
 91832,
 52199,
 111947,
 123883,
 196160,
 224138,
 104665,
 76942,
 208829,
 27617,
 268932,
 16916,
 93363,
 263877,
 178181,
 151806,
 268110,
 6543,
 17950,
 217740,
 11993,
 136382,
 39281,
 162738,
 205473,
 14422,
 136010,
 101876,
 255218,
 249862,
 209756,
 217106,
 254498,
 98297,
 252848,
 178667,
 222296,
 241198,
 165319,
 236340,
 170184,
 252071,
 75591,
 108285,
 85656,
 51386,
 82831,
 223087,
 238557,
 165308,
 85526,
 25409,
 246671,
 107301,
 39467,
 210792,
 250405,
 266866,
 168245,
 124487,
 269719,
 263460,
 40889,
 209373,
 241548,
 100846,
 102702,
 110483,
 226879,
 152249,
 133567,
 211919,
 216683,
 233917,
 89891,
 203799,
 216444,
 30511,
 214786,
 7158,
 105517,
 242299,
 83637,
 131855,
 28523,
 88693,
 188010,
 234359,
 49889,
 77809,
 244349,
 229329,
 266865,
 149907,
 266056,
 212645,
 129851,
 36609,
 216012,
 155147,
 162052,
 39616,
 95193,
 52917,
 164533,
 148258,
 172512,
 260897,
 168387,
 173291,
 42400,
 218552,
 55490,
 84024,
 169233,
 268030,
 212965,
 32721,
 100459,
 122881,
 228681,
 8890,
 250764,
 147451,
 105374,
 206567,
 144131,
 65258,
 141493,
 238961,
 93629,
 8681,
 136252,
 227705,
 179733,
 26516,
 238864,
 161752,
 50225,
 41841,
 70415,
 88677,
 78553,
 247429,
 157247,
 208141,
 147965,
 249628,
 173684,
 204591,
 163973,
 273979,
 38273,
 122793,
 55187,
 182086,
 222050,
 59971,
 168064,
 169663,
 115003,
 67840,
 251843,
 119575,
 164465,
 253821,
 167349,
 150979,
 109574,
 189516,
 208406,
 23288,
 4385,
 95902,
 274301,
 182993,
 30972,
 197775,
 207246,
 199772,
 264317,
 191187,
 131675,
 138073,
 109955,
 229011,
 180586,
 180957,
 264082,
 165232,
 86202,
 201017,
 170513,
 244688,
 81977,
 44728,
 85757,
 160541,
 146230,
 79441,
 102647,
 189973,
 21252,
 12982,
 241980,
 141710,
 254,
 76818,
 198699,
 52203,
 235935,
 208671,
 96448,
 131837,
 8936,
 60707,
 170742,
 10819,
 250184,
 142454,
 55734,
 231827,
 71712,
 135458,
 124078,
 70052,
 224646,
 85701,
 63394,
 106816,
 15418,
 82511,
 92853,
 263163,
 62895,
 37567,
 239594,
 241666,
 187520,
 155495,
 177432,
 169699,
 170634,
 238526,
 156467,
 218608,
 113904,
 148199,
 245371,
 73651,
 254971,
 230496,
 94242,
 137589,
 81560,
 236948,
 135831,
 259629,
 153621,
 236959,
 163804,
 231237,
 268032,
 247752,
 170575,
 190459,
 153563,
 24194,
 193499,
 69808,
 222488,
 70594,
 164675,
 238699,
 179744,
 30735,
 51094,
 271705,
 250962,
 51350,
 128696,
 253556,
 25601,
 178950,
 111174,
 264637,
 151790,
 177090,
 251844,
 19664,
 164828,
 234597,
 192093,
 177690,
 271195,
 196502,
 150498,
 174216,
 203820,
 126492,
 117539,
 53628,
 85993,
 174092,
 2766,
 41700,
 63938,
 92979,
 232945,
 147141,
 62272,
 85426,
 26593,
 53729,
 66680,
 230249,
 239584,
 245410,
 277639,
 20859,
 242083,
 225199,
 88283,
 69405,
 265595,
 115002,
 222941,
 92547,
 208410,
 129008,
 26583,
 180348,
 44595,
 13082,
 16106,
 238541,
 197364,
 204522,
 108352,
 220278,
 170947,
 110934,
 100644,
 216466,
 155219,
 183196,
 95316,
 235282,
 255092,
 198621,
 204167,
 125519,
 242409,
 80538,
 129465,
 180917,
 60337,
 127914,
 123625,
 39773,
 141901,
 124079,
 86641,
 201447,
 179772,
 155014,
 211430,
 140036,
 18067,
 160032,
 133689,
 246513,
 88937,
 264031,
 38556,
 7286,
 31846,
 210959,
 120093,
 27647,
 130554,
 124363,
 28360,
 199416,
 30487,
 98758,
 139742,
 149069,
 149934,
 168464,
 164027,
 223154,
 96054,
 139467,
 244736,
 271448,
 47316,
 113817,
 41084,
 252820,
 137688,
 201674,
 208568,
 10447,
 196457,
 187256,
 201768,
 92810,
 95903,
 246156,
 152186,
 19085,
 114444,
 181687,
 259380,
 62891,
 145641,
 104399,
 254206,
 123790,
 133571,
 168144,
 49460,
 87974,
 30509,
 82407,
 76223,
 257028,
 266753,
 138097,
 230708,
 22625,
 144555,
 229313,
 249111,
 102275,
 159858,
 213150,
 76151,
 92652,
 91203,
 134837,
 81045,
 2977,
 177374,
 154992,
 8245,
 245645,
 104429,
 224430,
 114178,
 95991,
 6242,
 190807,
 236058,
 42914,
 245839,
 159376,
 43806,
 207349,
 82926,
 163319,
 173835,
 80683,
 72352,
 91342,
 138578,
 21576,
 154176,
 206074,
 89192,
 209875,
 261037,
 36907,
 94985,
 133868,
 117251,
 109461,
 226965,
 222204,
 12824,
 164323,
 55892,
 121726,
 267635,
 240568,
 270820,
 6563,
 137190,
 168047,
 205980,
 140358,
 132083,
 172888,
 145165,
 6323,
 259260,
 258938,
 208147,
 207499,
 7915,
 252222,
 20201,
 143792,
 234721,
 256247,
 185308,
 126604,
 277478,
 238545,
 256402,
 50730,
 131027,
 64436,
 242646,
 225989,
 102359,
 224435,
 125203,
 229741,
 4017,
 178199,
 109901,
 141902,
 97874,
 35836,
 15957,
 201783,
 21659,
 164096,
 183287,
 196047,
 257700,
 35433,
 8067,
 13850,
 31391,
 211847,
 269890,
 136139,
 142093,
 107453,
 128208,
 153718,
 87143,
 18401,
 141819,
 101305,
 207782,
 258690,
 157811,
 240567,
 95010,
 108005,
 163761,
 187170,
 83287,
 110214,
 56360,
 214272,
 246311,
 151589,
 50547,
 88793,
 33145,
 116122,
 260183,
 155916,
 44296,
 73681,
 59727,
 28634,
 188951,
 9856,
 268622,
 274808]

In [21]:
ratings = ratings[ratings['user_id'].isin(padhaku)]
ratings.shape

(526356, 3)

In [22]:
len(padhaku)

899

In [23]:
ratings.head()

      user_id        ISBN  score
1456   277427  002542730X     10
1457   277427  0026217457      0
1458   277427  003008685X      8
1459   277427  0030615321      0
1460   277427  0060002050      0

In [25]:
ratings['ISBN'].nunique()

207291

In [27]:
books = books[['ISBN','Book-Title','Book-Author','Year-Of-Publication','Publisher']]

In [28]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [29]:
books_with_rating =ratings.merge(books, on ='ISBN')

In [30]:
books_with_rating.head()

,user_id,ISBN,score,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc

In [32]:
a=books_with_rating['ISBN'].value_counts()>50

In [33]:
famous =a[a].index.tolist()

In [36]:
len(famous)

503

In [42]:
books_with_rating =books_with_rating[books_with_rating['ISBN'].isin(famous)]

In [43]:
books_with_rating.shape

(40757, 7)

In [49]:
books_with_rating.drop_duplicates(subset =['user_id','Book-Title'], inplace =True)

In [50]:
books_with_rating.shape

(40671, 7)

In [53]:
pt = books_with_rating.pivot_table(columns = 'user_id',index ='Book-Title', values ='score')

In [54]:
pt.shape

(493, 883)

In [56]:
pt.fillna(-1,inplace = True)

In [57]:
from scipy.sparse import csr_matrix
matrix =csr_matrix(pt)

In [58]:
matrix

<493x883 sparse matrix of type '<class 'numpy.float64'>'
	with 404751 stored elements in Compressed Sparse Row format>

In [60]:
from sklearn.neighbors import NearestNeighbors

In [61]:
NN =NearestNeighbors(algorithm = 'brute')

In [62]:
NN.fit(matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='minkowski',
         metric_params=None, n_jobs=1, n_neighbors=5, p=2, radius=1.0)

In [67]:
pt.shape

(493, 883)

In [79]:
d, s =NN.kneighbors(pt.iloc[155,:].values.reshape(1,883), n_neighbors = 5)

In [69]:
pt.iloc[0,:].values.reshape(1,883)

array([[ 9., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,  0.,
        -1.,  0., -1., -1., -1., -1., -1., -1., -1., -1.,  9., -1., -1.,
        -1., -1.,  8., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1.,  0.,  7., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1.,  0.,  0., -1., -1., -1., -1., -1., -1.,  0., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1.,  9., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., 10., -1.,
        -1., -1., -1., -1., -1., -1., -1.,  0., -1., -1., -1., -1.,  9.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1.,  8., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., 10., 10., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., 10.,  0., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1.,  0., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., 10., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1.,  0., -1.,  0., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1.,  0., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., 10., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1.,  0., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1.,  0., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1.,  0., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1.,  9., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1.,  0., -1., -1.,  9., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1.,  0., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., 10., -1., -1., -1., -1., -1., -1.,  0., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1.,  0., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1.,  9., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1.,  0., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1.,  0., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1.,  0., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1.,  9., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1.,  0., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1.,  0., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1.,  0., -1., -1., -1.,  0., -1.,
        -1., -1., -1.,  8., -1., -1., -1., -1., -1., -1.,  7., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,  0.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., 10., -1., -1.,  0., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1.,  0., -1., -1., -1., -1., -1.,
        -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,
        10., -1., -1., -1., -1., -1., -1.,  0., -1., -1., -1., -1.]])

In [80]:
s

array([[155, 154,   7, 297,  88]], dtype=int64)

In [81]:
for i in s[0,:]:
    print(pt.index[i])

Harry Potter and the Order of the Phoenix (Book 5)
Harry Potter and the Goblet of Fire (Book 4)
A Civil Action
Sleepers
Crazy for You